<!-- Page Content -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Labs</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-sitemap fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><?php echo $total_labs; ?></div>
                            <div>Labs</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-sitemap fa-fw"></i> Labs
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div>
                                <ul>
                                    <?php
                                    $show_labs = $_GET;
                                    foreach($show_labs as $key=>$value) {
                                    $list = $db->query('SELECT * FROM labs WHERE name="' . $key . '"');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <i class="fa fa-server fa-fw"></i> ' . $row['name'] . '
                                    </li>
                                    <li>
                                        <i class="fa fa-building fa-fw"></i> ' . $row['location'] . '
                                    </li>
                                    <li>
                                        <i class="fa fa-server fa-fw"></i> ' . $row['devices'] . '
                                    </li>
                                    <li>
                                        <i class="fa fa-dashboard fa-fw"></i> ' . $row['details'] . '
                                    </li>
                                    <br>', PHP_EOL;
                                    }
                                    }
                                    ?>
                                </ul>
                            </div>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
