<?php
$lab = '';
$loc = '';
$labid = '';

if (isset($_GET['lab'])) {
    $lab = $_GET['lab'];
}
if (isset($_GET['loc'])) {
    $loc = $_GET['loc'];
}
if (isset($_GET['id'])) {
    $labid = $_GET['id'];
}
if (empty($lab) and empty($loc) and empty($labid)) {
    echo '
<!-- Page Content -->
<div id="page-wrapper">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Labs</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-sitemap fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">'. $total_labs . '</div>
                            <div>Labs</div>
                        </div>
                    </div>
                </div>
                <a href="labs.php">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-sitemap fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Add Lab</div>
                            <div>Add a new Lab</div>
                        </div>
                    </div>
                </div>
                <a href="#myModal" data-toggle="modal">
                    <div class="panel-footer">
                        <span class="pull-left">Add</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        ';
        } else {
        echo '
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">';
                    if ($labid) {
                        echo '<h1 class="page-header">Lab - ' . $lab . ' - ' . $loc . '</h1>';
                    } else {
                        echo '<h1 class="page-header">Labs - ' . $lab . '</h1>';
                    }
                    echo '
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-building fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">';
                                    if ($loc) {
                                        echo '<div class="huge">'. $db->getCountIDAnd('labs', 'name', $lab, 'location',
                                        $loc) .'</div>';
                                    } else {
                                        echo '<div class="huge">'. $db->getCountGroup('labs', 'name', $lab,
                                        'location') .'</div>';
                                    }
                                    echo '
                                    <div>Locations</div>
                                </div>
                            </div>
                        </div>
                        <a href="locations.php">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cube fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">';
                                    if ($loc) {
                                        echo '<div class="huge">'. $db->getCountIDAnd('racks', 'lab', $lab, 'location',
                                        $loc) .'</div>';
                                    } else {
                                        echo '<div class="huge">'. $db->getCountID('racks', 'lab', $lab) .'</div>';
                                    }
                                    echo '
                                    <div>Racks</div>
                                </div>
                            </div>
                        </div>
                        <a href="racks.php">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-server fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">';
                                    if ($loc) {
                                        echo '<div class="huge">'. $db->getCountIDAnd('devices', 'lab', $lab,
                                        'location', $loc) .'</div>';
                                    } else {
                                        echo '<div class="huge">'. $db->getCountID('devices', 'lab', $lab) .'</div>';
                                    }
                                    echo '
                                    <div>Devices</div>
                                </div>
                            </div>
                        </div>
                        <a href="devices.php">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                ';
                }
                ?>
            </div>
            <div class="row">

                <?php
                if (empty($lab)) {
                    echo '
                <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sitemap fa-fw"></i> Labs
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="labs.php?action=add">Add <i class="fa fa-plus fa-fw"></i> (<i
                                            class="fa fa-sitemap fa-fw"></i>)</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                ';
                                $list = $db->query('SELECT id, name, location FROM labs');
                                while ($row = $list->fetchArray()) {
                                echo '
                                <li>
                                    <a
                                            href="labs.php?lab=' . $row['name'] . '&loc=' . $row['location'] . '&id=' . $row['id'] . '"><i
                                            class="fa fa-sitemap fa-fw"></i> '
                                        .
                                        $row['name'] . '</a>
                                </li>
                                ';
                                }
                                echo '
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    ';
                                    $list = $db->query('SELECT id, name, location FROM labs');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <i class="fa fa-building fa-fw"></i> ' . $row['location'] . '
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ';
            } else {
            echo '
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-cube fa-fw"></i> Locations
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    ';
                                    $list = $db->query('SELECT id, name, lab FROM racks WHERE lab="' . $lab .
                                    '" GROUP BY lab');
                                    while ($row = $list->fetchArray()) {
                                    echo '<li>';
                                        if ($loc) {
                                            echo '
                                        <a
                                                href="racks.php?lab=' . $row['lab'] . '&loc=' . $loc . '&action=add">Add <i class="fa fa-plus fa-fw"></i> (<i
                                                class="fa fa-sitemap fa-fw"></i> ' . $row['lab'] . ')</a>';
                                        } else {
                                            echo '
                                        <a
                                                href="racks.php?lab=' . $row['lab'] . '&action=add">Add <i class="fa fa-plus fa-fw"></i> (<i
                                                class="fa fa-sitemap fa-fw"></i> ' . $row['lab'] . ')</a>';
                                        }
                                    echo '</li>';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    ';
                                    $list = $db->query('SELECT id, location FROM labs WHERE name="' . $lab .
                                    '"');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <a
                                                href="labs.php?lab=' . $lab . '&loc=' . $row['location'] . '&id=' . $row['id'] . '"><i
                                                class="fa fa-sitemap fa-fw"></i> ' . $lab . '</a>
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    ';
                                    $list = $db->query('SELECT location FROM labs WHERE name="' . $lab .
                                    '"');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <i class="fa fa-building fa-fw"></i> ' . $row['location'] . '
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ';

            echo '
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-cube fa-fw"></i> Racks
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    ';
                                    $list = $db->query('SELECT name, lab FROM racks WHERE lab="' . $lab .
                                    '" GROUP BY lab');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li><a
                                            href="racks.php?lab=' . $row['lab'] . '&loc=' . $location . '&action=add">Add <i class="fa fa-plus fa-fw"></i> (<i
                                            class="fa fa-sitemap fa-fw"></i> ' . $row['lab'] . ')</a>
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                ';
                                $list = $db->query('SELECT name, location FROM racks WHERE lab="' . $lab .
                                '"');
                                while ($row = $list->fetchArray()) {
                                echo '
                                <li>
                                    <a
                                            href="racks.php?rack=' . $row['name'] . '&lab=' . $lab . '&loc=' . $row['location'] . '"><i
                                            class="fa fa-cube fa-fw"></i> ' . $row['name'] . '</a>
                                </li>
                                ';
                                }
                                echo '
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    ';
                                    $list = $db->query('SELECT location FROM racks WHERE lab="' . $lab .
                                    '"');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <i class="fa fa-building fa-fw"></i> ' . $row['location'] . '
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ';

            echo '
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-server fa-fw"></i> Devices
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    ';
                                    $list = $db->query('SELECT rack, location FROM devices WHERE lab="' .
                                    $lab . '" GROUP BY location');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li><a
                                            href="devices.php?rack=' . $row['rack'] . '&lab=' . $lab . '&loc=' . $row['location'] . '&action=add">Add <i class="fa fa-plus fa-fw"></i> (<i
                                            class="fa fa-cube fa-fw"></i> ' . $row['rack'] . ' - <i
                                            class="fa fa-sitemap fa-fw"></i> ' . $row['location']
                                        . ')</a>
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                ';
                                $list = $db->query('SELECT name, location, rack FROM devices WHERE lab="' .
                                $lab . '"');
                                while ($row = $list->fetchArray()) {
                                echo '
                                <li>
                                    <a
                                            href="devices.php?dev=' . $row['name'] . '&rack=' . $row['rack'] . '&lab=' . $lab . '&loc=' . $row['location'] . '"><i
                                            class="fa fa-server fa-fw"></i> ' . $row['name'] . '</a>
                                </li>
                                ';
                                }
                                echo '
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    ';
                                    $list = $db->query('SELECT rack FROM devices WHERE lab="' .
                                    $lab . '"');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <i class="fa fa-cube fa-fw"></i> ' . $row['rack'] . '
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    ';
                                    if ($labid) {
                                        $list = $db->query('SELECT location FROM devices WHERE lab="' .
                                        $lab . '"');
                                    } else {
                                        $list = $db->query('SELECT location FROM devices WHERE lab="' .
                                        $lab . '"');
                                    }
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <i class="fa fa-building fa-fw"></i> ' . $row['location'] . '
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ';
            }
            ?>

            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
