<?php
if (isset($_GET['loc'])) {
    $loc = $_GET['loc'];
}
if (empty($loc)) {
    echo '
<!-- Page Content -->
<div id="page-wrapper">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Locations</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-building fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">'. $total_locations . '</div>
                            <div>Locations</div>
                        </div>
                    </div>
                </div>
                <a href="locations.php">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-building fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">Add Location</div>
                            <div>Add a new Location</div>
                        </div>
                    </div>
                </div>
                <a href="#myModal" data-toggle="modal">
                    <div class="panel-footer">
                        <span class="pull-left">Add</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        ';
        } else {
        $location = $loc;
        echo '
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Location - ' . $location . '</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-sitemap fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">'. $db->getCountID('labs', 'location', $location) .'</div>
                                    <div>Labs</div>
                                </div>
                            </div>
                        </div>
                        <a href="labs.php">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cube fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">'. $db->getCountID('racks', 'location', $location) .'</div>
                                    <div>Racks</div>
                                </div>
                            </div>
                        </div>
                        <a href="racks.php">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-server fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">'. $db->getCountID('devices', 'location', $location) .'</div>
                                    <div>Devices</div>
                                </div>
                            </div>
                        </div>
                        <a href="devices.php">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                ';
                }
                ?>
            </div>
            <div class="row">

                <?php
                if (empty($loc)) {
                    echo '
                <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-building fa-fw"></i> Locations
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="locations.php?action=add">Add <i class="fa fa-plus fa-fw"></i> (<i
                                            class="fa fa-building fa-fw"></i>)</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">Details</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-unstyled">
                                ';
                                $list = $db->query('SELECT id, name FROM locations');
                                while ($row = $list->fetchArray()) {
                                echo '
                                <li>
                                    <a href="locations.php?loc=' . $row['name'] . '"><i
                                            class="fa fa-building fa-fw"></i> '
                                        .
                                        $row['name'] . '</a>
                                </li>
                                ';
                                }
                                echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ';
            } else {
            $location = $loc;
            echo '
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-sitemap fa-fw"></i> Labs
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="labs.php?loc=' . $location . '&action=add">Add <i
                                            class="fa fa-plus fa-fw"></i> (<i
                                            class="fa fa-building fa-fw"></i> ' . $location . ')</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-unstyled">
                                ';
                                $list = $db->query('SELECT id, name FROM labs WHERE location="' . $location . '"');
                                while ($row = $list->fetchArray()) {
                                echo '
                                <li>
                                    <a href="labs.php?lab=' . $row['name'] . '&loc=' . $location . '"><i
                                            class="fa fa-sitemap fa-fw"></i> ' .
                                        $row['name'] . '</a>
                                </li>
                                ';
                                }
                                echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ';

            echo '
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-cube fa-fw"></i> Racks
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    ';
                                    $list = $db->query('SELECT id, name, lab FROM racks WHERE location="' . $location .
                                    '" GROUP BY lab');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li><a
                                            href="racks.php?lab=' . $row['lab'] . '&loc=' . $location . '&action=add">Add <i class="fa fa-plus fa-fw"></i> (<i
                                            class="fa fa-sitemap fa-fw"></i> ' . $row['lab'] . ')</a>
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                ';
                                $list = $db->query('SELECT id, name, lab FROM racks WHERE location="' . $location .
                                '"');
                                while ($row = $list->fetchArray()) {
                                echo '
                                <li>
                                    <a href="racks.php?rack=' . $row['name'] . '&lab=' . $row['lab'] . '&loc=' . $location . '"><i
                                            class="fa fa-cube fa-fw"></i> ' . $row['name'] . '</a>
                                </li>
                                ';
                                }
                                echo '
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    ';
                                    $list = $db->query('SELECT id, name, lab FROM racks WHERE location="' . $location .
                                    '"');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <i class="fa fa-sitemap fa-fw"></i> ' . $row['lab'] . '
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ';

            echo '
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-server fa-fw"></i> Devices
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle"
                                        data-toggle="dropdown" aria-expanded="false">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    ';
                                    $list = $db->query('SELECT id, name, lab, rack FROM devices WHERE location="' .
                                    $location . '" GROUP BY rack');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li><a
                                            href="devices.php?rack=' . $row['rack'] . '&lab=' . $row['lab'] . '&loc=' . $location . '&action=add">Add <i class="fa fa-plus fa-fw"></i> (<i
                                            class="fa fa-cube fa-fw"></i> ' . $row['rack'] . ' - <i
                                            class="fa fa-sitemap fa-fw"></i> ' . $row['lab']
                                        . ')</a>
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                ';
                                $list = $db->query('SELECT id, name, lab, rack FROM devices WHERE location="' .
                                $location . '"');
                                while ($row = $list->fetchArray()) {
                                echo '
                                <li>
                                    <a href="devices.php?dev=' . $row['name'] . '&rack=' . $row['rack'] . '&lab=' . $row['lab'] . '&loc=' . $location . '"><i
                                            class="fa fa-server fa-fw"></i> ' . $row['name'] . '</a>
                                </li>
                                ';
                                }
                                echo '
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    ';
                                    $list = $db->query('SELECT id, name, lab, rack FROM devices WHERE location="' .
                                    $location . '"');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <i class="fa fa-sitemap fa-fw"></i> ' . $row['lab'] . '
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    ';
                                    $list = $db->query('SELECT id, name, lab, rack FROM devices WHERE location="' .
                                    $location . '"');
                                    while ($row = $list->fetchArray()) {
                                    echo '
                                    <li>
                                        <i class="fa fa-cube fa-fw"></i> ' . $row['rack'] . '
                                    </li>
                                    ';
                                    }
                                    echo '
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ';
            }
            ?>

            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
