<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/sb-admin-2.js"></script>

<script>

    $(document).ready(function(){
        $('#sortable').sortable({
            update: function() {
                var stringDiv = "";
                $("#sortable").children().each(function(i) {
                    var li = $(this);
                    stringDiv += " " + li.attr("name");
                });

                $.ajax({
                    type: "POST",
                    url: "updateOrder.php",
                    data: {order: stringDiv}
                });
            }
        });
        $( "#draggable" ).draggable({
            connectToSortable: "#sortable",
            revert: "true"
        });
        $( "#sortable" ).disableSelection();
    });
</script>

</body>

</html>