<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="dashboard.php"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-building fa-fw"></i> Locations<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="locations.php">Add</a>
                    </li>
                    <li>
                        <a href="locations.php">Edit</a>
                    </li>
                    <li>
                        <a href="locations.php">Show</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Labs<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="labs.php">Add</a>
                    </li>
                    <li>
                        <a href="labs.php">Edit</a>
                    </li>
                    <li>
                        <a href="labs.php">Show</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-cube fa-fw"></i> Racks<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="racks.php">Add</a>
                    </li>
                    <li>
                        <a href="racks.php">Edit</a>
                    </li>
                    <li>
                        <a href="racks.php">Show</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-server fa-fw"></i> Devices<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="devices.php">Add</a>
                    </li>
                    <li>
                        <a href="devices.php">Edit</a>
                    </li>
                    <li>
                        <a href="devices.php">Show</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-users fa-fw"></i> Access<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="access.php">Add</a>
                    </li>
                    <li>
                        <a href="access.php">Edit</a>
                    </li>
                    <li>
                        <a href="access.php">Show</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="settings.php"><i class="fa fa-gears fa-fw"></i> Settings</a>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->