<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="dashboard.php"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-building fa-fw"></i> Locations <span class="badge alert-info">
                    <?php echo $db->getCount('locations');?></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <?php
                    $locations = $db->getCount('locations');
                    if ($locations == 0) {
                        echo '<li>
                            <a href="locations.php">Overview</a>
                        </li>';
                    } else {
                        echo '<li>
                            <a href="locations.php">Overview</a>
                        </li>';
                        $list = $db->query('SELECT id, name FROM locations');
                        while ($row = $list->fetchArray()) {
                            echo '<li>
                                <a href="locations.php?loc=' . $row['name'] . '"><i class="fa fa-building fa-fw"></i> ' .
                                    $row['name'] . '</a>
                            </li>';
                        }
                    }
                    ?>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Labs <span class="badge alert-info">
                    <?php echo $db->getCount('labs');?></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <?php
                    $labs = $db->getCount('labs');
                    if ($labs == 0) {
                        echo '<li>
                            <a href="labs.php">Overview</a>
                        </li>';
                    } else {
                        echo '<li>
                            <a href="labs.php">Overview</a>
                        </li>';
                        $list = $db->query('SELECT id, name FROM labs GROUP BY name');
                        while ($row = $list->fetchArray()) {
                            echo '<li>
                                <a href="labs.php?lab=' . $row['name'] . '"><i class="fa fa-sitemap fa-fw"></i> ' .
                                    $row['name'] . ' <span class="badge alert-info">' . $db->getCountID('labs', 'name', $row['name']) . '</span></a>
                            </li>';
                        }
                    }
                    ?>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-cube fa-fw"></i> Racks <span class="badge alert-info">
                    <?php echo $db->getCount('racks');?></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <?php
                    $racks = $db->getCount('racks');
                    if ($racks == 0) {
                        echo '<li>
                            <a href="racks.php">Overview</a>
                        </li>';
                    } else {
                        echo '<li>
                            <a href="racks.php">Overview</a>
                        </li>';
                        $list = $db->query('SELECT id, lab FROM racks GROUP BY lab');
                        while ($row = $list->fetchArray()) {
                            echo '<li>
                                <a href="racks.php?lab=' . $row['lab'] . '"><i class="fa fa-sitemap fa-fw"></i> ' .
                                    $row['lab'] . ' <span class="badge alert-info">' . $db->getCountID('racks', 'lab', $row['lab']) . '</span></a>
                            </li>';
                        }
                    }
                    ?>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-server fa-fw"></i> Devices <span class="badge alert-info">
                    <?php echo $db->getCount('devices');?></span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <?php
                    $devices = $db->getCount('devices');
                    if ($racks == 0) {
                        echo '
                            <li>
                                <a href="devices.php">Overview</a>
                            </li>
                        ';
                    } else {
                        echo '
                            <li>
                                <a href="devices.php">Overview</a>
                            </li>
                        ';
                        $list = $db->query('SELECT id, category FROM devices GROUP BY category');
                        while ($row = $list->fetchArray()) {
                            echo '
                                <li>
                                    <a href="devices.php?dev=' . $row['category'] . '"><i class="fa fa-server fa-fw"></i> ' .
                                        $row['category'] . ' <span class="badge alert-info">' . $db->getCountID('devices', 'category', $row['category']) . '</span></a>
                                </li>
                            ';
                        }
                    }
                    ?>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="access.php"><i class="fa fa-users fa-fw"></i> Access</a>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="settings.php"><i class="fa fa-gears fa-fw"></i> Settings</a>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
