<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="dashboard.php"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-building fa-fw"></i> Locations<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <?php
                    $locations = $db->getCount('locations');
                    if ($locations == 0) {
                        echo '<li>
                            <a href="locations.php">Overview</a>
                        </li>';
                    } else {
                        echo '<li>
                            <a href="locations.php">Overview</a>
                        </li>';
                        $list = $db->query('SELECT name FROM locations');
                        while ($row = $list->fetchArray()) {
                            echo '<li>
                                <a href="locations.php?' . $row['name'] . '"><i class="fa fa-building fa-fw"></i> ' .
                                    $row['name'] . '</a>
                            </li>';
                        }
                    }
                    ?>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Labs<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <?php
                    $labs = $db->getCount('labs');
                    if ($labs == 0) {
                        echo '<li>
                            <a href="labs.php">Overview</a>
                        </li>';
                    } else {
                        echo '<li>
                            <a href="labs.php">Overview</a>
                        </li>';
                        $list = $db->query('SELECT name FROM labs');
                        while ($row = $list->fetchArray()) {
                            echo '<li>
                                <a href="labs.php?' . $row['name'] . '"><i class="fa fa-sitemap fa-fw"></i> ' .
                                    $row['name'] . '</a>
                            </li>';
                        }
                    }
                    ?>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-cube fa-fw"></i> Racks<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <?php
                    $racks = $db->getCount('racks');
                    if ($racks == 0) {
                        echo '<li>
                            <a href="racks.php">Overview</a>
                        </li>';
                    } else {
                        echo '<li>
                            <a href="racks.php">Overview</a>
                        </li>';
                        $list = $db->query('SELECT lab FROM racks GROUP BY lab');
                        while ($row = $list->fetchArray()) {
                            echo '<li>
                                <a href="racks.php?' . $row['lab'] . '"><i class="fa fa-sitemap fa-fw"></i> ' .
                                    $row['lab'] . '</a>
                            </li>';
                        }
                    }
                    ?>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-server fa-fw"></i> Devices<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="devices.php"> Overview</a>
                    </li>
                    <li>
                        <a href="devices.php"><i class="fa fa-server fa-fw"></i> DXi</a>
                    </li>
                    <li>
                        <a href="devices.php"><i class="fa fa-server fa-fw"></i> StorNext</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="access.php"><i class="fa fa-users fa-fw"></i> Access</a>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="settings.php"><i class="fa fa-gears fa-fw"></i> Settings</a>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->